In [1]:
#1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of 
#your fifth birthday. For example, if you were born in 1980. the list would be 
#years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [3]:
years_list=[1983+i for i in range(6)]
years_list

[1983, 1984, 1985, 1986, 1987, 1988]

In [4]:
#2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [5]:
years_list[3]

1986

In [6]:
#3.In the years list, which year were you the oldest?

In [7]:
years_list[-1]

1988

In [8]:
#4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [9]:
things=["mozzarella", "cinderella", "salmonella"]

In [10]:
#5:Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [15]:
for element in things:
    if element=="cinderella":
        element.capitalize()
        print(things)
#Did it change the element in the list? No

['mozzarella', 'cinderella', 'salmonella']

In [16]:
#6.Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [17]:
surprise_list=["Groucho","Chico","Harpo"]

In [18]:
#7.Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [42]:
a=surprise_list[-1].lower()
b=list(a)
c=b[::-1]
d=""
for string in c:
    d=d+string
d.capitalize()

'Oprah'

In [43]:
#8.Make an English-to-French dictionary called e2f and print it.
#Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [44]:
e2f={"dog":"chien", "cat":"chat", "walrus":"morse"}

In [45]:
#9.Write the French word for walrus in your three-word dictionary e2f.

In [47]:
e2f["walrus"]

'morse'

In [48]:
#10:Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [61]:
f2e={v:k for k,v in e2f.items()}
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [53]:
#11.Print the English version of the French word chien using f2e.

In [62]:
f2e["chien"]

'dog'

In [63]:
#12.Make and print a set of English words from the keys in e2f.

In [64]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [65]:
#13:Make a multilevel dictionary called life. Use these strings for the topmost keys: 
#'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary 
#with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings 
#with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [66]:
life={"animals":{'cats':['Henri', 'Grumpy','Lucy'],'octopi':{},'emus':{}},'plants':{}, 'other':{}}

In [67]:
#14:Print the top-level keys of life.

In [68]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [69]:
#15.Print the keys for life['animals'].

In [70]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [71]:
#16:Print the values for life['animals']['cats']

In [72]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']